<ion-view view-title="Login" name="submit-view">

  <ion-content class="signin-content-wrapper center-wrapper" scroll="false">
      <div class="signin-content center-content">
        <img class="logo" src="./img/logo.png" />
          <div class="center-label">
            <label>Please enter your username and password.</label>
          </div>
          <input class="center-input" type="text" placeholder="Username" id="login-user"></input>
          <input class="center-input" type="password" placeholder="Password" id="login-password"></input>
          <div class="button-area">
            <button class="button clickable-button" ng-click="doLogin();">Login</button>
            <!-- <button class="button clickable-button facebook-button" ng-click="doFacebook();">Login with Facebook</button> -->
            <!-- <button class="button clickable-button" ng-click="doRegister();">Register</button> -->
          </div>
      </div>
    </ion-content>

</ion-view>