<ion-popover-view>
   	<ion-content>
	  <div ng-repeat="sec in selsections" ng-if="(sec.sections[0].bHidden == undefined) == true || sec.sections[0].bHidden == true">
      	<div class="item-input item-popup" ng-click="onSelectChanged($index)" ng-mousedown="setClickedRow($index)" ng-class="{'selected':$index == selectedRow}">
      		<i class="ion-record" ng-style="sec.sStatusStyle"></i>
      		<!-- <div ng-class="$index === nCurInd ? 'section-list' : ''">&nbsp;{{sec.title}}</div> -->
      		<div>&nbsp;{{sec.title}}</div>
      	</div>
      </div>
	</ion-content>
</ion-popover-view>