<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ng-click="onHome()">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <!-- Draft Tab -->
    <ion-tab title="Draft" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" ng-click="onDraft()">
      <ion-nav-view name="draft-tab"></ion-nav-view>
    </ion-tab>
    <!-- Sent Tab -->
    <ion-tab title="Sent" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" ng-click="onSent()">
      <ion-nav-view name="sent-tab"></ion-nav-view>
    </ion-tab>
    <!-- Setting Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ng-click="onSettings()">
      <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
